<!DOCTYPE html>
<html>
<head>
	<title>Panel</title>
	<link rel="stylesheet" type="text/css" href="/css/panel.css">
</head>
<body>
	<div id="main-body">
		<div id="footer">
			<h1 id="info">User Directory</h1>
			<div id="btn-container"><button id="trigger-btn">Add New User</button></div>
		</div>
		<div id="container">
			
		</div>
	</div>
	<div id="form" >
		
	</div>

<script type="text/javascript" src="/js/panel.js"></script>
</body>
</html>