<!DOCTYPE html>
<html>
<head>
	<title>register</title>
</head>
<body>

	<form action="/" method="post" enctype="multipart/form-data">
  		
  		<input type="file" name="avatar" placeholder="upload">
  		<input type="text" name="username" placeholder="uesrname">
  		<input type="text" name="address" placeholder="address">
  		<input type="number" name="phno" placeholder="phno">
  		<input type="email" name="email" placeholder="email">

  		<button type="submit">Add New User</button>
	</form>
</body>
</html>