body{
	min-height: 100vh;
}
#main-body{
	display: grid;
	grid-template-areas: 
		"header"
		"mainBody";
		/*"footer"*/
	;
	grid-row-gap: 4rem;
	background-color: #f4f3f3;
}
#header{
	min-width: 95vw;
	min-height: 17vh;
	padding-top: 1rem;
	background-color: #fff;
	grid-area: header;
	box-shadow: 0px 1px 5px -1px #5c636e;
}
#info{
	float: left;
	margin-left: 4rem;
}
#btn-container{
	float: right;
	margin-right: 4rem;
	/*margin-bottom: 2rem;*/
	padding-top: 1.5rem;

}
#trigger-btn{
	font-size: 1.1em;
	background-color: #78b7bb;
	border-style: solid;
	border-width: 1px;
	padding: 6px 10px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	outline: none;
}
#trigger-btn:hover{
	box-shadow: 2px 2px 15px 5px #dfdfdf;
}

#container{
	height: 100vh;
	grid-area: mainBody;
	justify-self:center;
}
#result{
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding: 0px 2rem;
	box-shadow: 2px 2px 15px 2px #555;
}

.ip-btn{
	border-style: none;
	color: #c1c1c1;
	outline: none;
}
.table{
	font-size: 1.2rem;
}



/* styling for the documents */
.oper-toolbox{
	position: absolute;
	transform: scale(0.7);
	background-color: #fff;
	/*border-style: solid;*/
	/*border-width: 1px;*/
	box-shadow: 1px 1px 15px 2px #123;
	border-radius: 10px;
	outline: none;
	display: none;

}
.ip-btn:hover{
	transition: background-color 3s ease;
	transition: color 3s ease;
	background-color: #79a3b1;
	color: #fff;
}
.ip-btn:focus{
	outline: none;
}
.hidden-ip{
	display: none;
}
.edit{
	background-color: #fff;
	border-style: none;
	outline: none;
}
.edit:focus{
	outline: none;
}
.edit:hover{
	color: #fff;
	background-color: #5aa469;
	font-size: 1.5rem;
}
.delete{
	background-color: #fff;
	border-style: none;
	outline: none;
}
.delete:focus{
	outline: none;
}
.delete:hover{
	color: #fff;
	background-color: #c05555;
	font-size: 1.5rem;
}
